<div class='site-footer'>
    <div class='container content-footer'>
        <div class='row'>
            <div class='col'>
                <h6>Questions? Contact us.</h6>
            </div>
            <div class='col'></div>
            <div class='col'></div>
            <div class='col'></div>
        </div>
        <div class='row'>
            <div class='col'>
                <a class="footer-item" href='#'>Audio and Subtitles</a>
            </div>
            <div class='col'>
                <a class="footer-item" href='#'>Help Center</a>
            </div>
            <div class='col'>
                <a class="footer-item" href='#'>Gift Cards</a>
            </div>
            <div class='col'>
                <a class="footer-item" href='#'>Investor Relations</a>
            </div>
        </div>
        <div class='row'>
            <div class='col'>
                <a class="footer-item" href='#'>Media Center</a>
            </div>
            <div class='col'>
                <a class="footer-item" href='#'>Jobs</a>
            </div>
            <div class='col'>
                <a class="footer-item" href='#'>Cookie Preferences</a>
            </div>
            <div class='col'>
                <a class="footer-item" href='#'>Terms of Use</a>
            </div>
        </div>
        <div class='row'>
            <div class='col'>
                <a class="footer-item" href='#'>Privacy Statement</a>
            </div>
            <div class='col'>
            </div>
            <div class='col'>
            </div>
            <div class='col'>
            </div>
        </div>
    </div>
</div>