<div class="mt-5">
    <h1 class="">Enter your login information below!</h2>
    <form method='POST' action="login" class='needs-validation mt-4' novalidate>
        
        <div class='form-row'>
            <div class='col-md-6 mb-3'>
                <label for='email'>Email<span class="error">{{errorEmail}}</span></label>
                <input
                    type='email'
                    class='form-control'
                    id='email'
                    name="email"
                />
            </div>
        </div>
        <div class='form-row'>
            <div class='col-md-6 mb-3'>
                <label for='password'>Password<span class="error">{{errorPassword}}</span></label>
                <input
                    type='password'
                    class='form-control'
                    id='password'
                    name="password"
                />
            </div>
        </div>
        <div class="mb-3">
            If you do not already have an account! 
            <a href="/renderRegister">Register</a>
        </div>

        <button class='btn btn-primary' type='submit'>Login</button>
    </form>
</div>

<script>

</script>